<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/jquery-3.x-git.min.js"></script>

</head>
<body>

<script>
  

$(document).ready(function () {
			
            $('#ajaxBtn').click(function(){
               $.ajax('https://reqres.in/api/users/2',   // request url
               {            
                dataType: 'json', // type of response data
                timeout:10000,


                   success: function (data, status, xhr) {    // success callback function
                           $('.resp').append(data.data.email);
                   },
                   error: function (jqXhr, textStatus, errorMessage) { // error callback 
					$('.resp').append('Error: ' + errorMessage);
                   }
               });
            });
   
           });
</script>    

<h1> jQuery ajax() demo 
</h1>
<input type="button" id="ajaxBtn" value="Send Ajax request" />
<p>123
</p>

<h2 class="resp">



</h2>


</body>
</html>